<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <div style="float: left;width: 250px;border: 1px solid #000;margin: 2px; padding: 5px;">
    <canvas id="myChart" width="250" height="200"></canvas>
  </div>
  <div style="float: left;width: 250px;border: 1px solid #000;border: 1px solid #000;margin: 2px; padding: 5px;">
    <canvas id="myChart1" width="250" height="200"></canvas>
  </div>
  <div style="float: left;width: 250px;border: 1px solid #000;border: 1px solid #000;margin: 2px; padding: 5px;">
    <canvas id="myChart2" width="250" height="200"></canvas>
  </div>
  <div style="float: left;width: 250px;border: 1px solid #000;border: 1px solid #000;margin: 2px; padding: 5px;">
    <canvas id="myChart3" width="250" height="200"></canvas>
  </div>
</div>
